Table {
  width: 100%;
}

th {
  padding: 1em;
}

div td {
  padding: 1em;
}

table {
  border: 0.1em solid #ccc;
}

table tr:nth-child(odd) td {
  background: #fff;
}

table tr:nth-child(even) td {
  background: #ccc;
}

.profile-image {
  width: 6em;
  height: 6em;
}